<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GPM NowPlaying</title>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript">
        function submit() {
            document.xform.submit();
            window.close();
        }
        $(function(){
            var countMax = 140;
            $('textarea').bind('keydown keyup keypress change',function(){
                var thisValueLength = $(this).val().length;
                var countDown = countMax - thisValueLength;
                $('.count').html(countDown);
                if(countDown < 0){
                    $('.count').css({color:'#ff0000',fontWeight:'bold'});
                    $('button').prop('disabled', true);
                } else {
                    $('.count').css({color:'#000000',fontWeight:'normal'});
                    $('button').prop('disabled', false);
                }
            });
            $(window).load(function(){
                $('.count').html(countMax - $('textarea').val().length);
            });
        });
        </script>
        <style type="text/css">
        img {
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
        }
        button {
            margin-top: 5px;
            float: right !important;
        }
        span {
            display: inline-block;
            float: right;
            margin-top: 5px;
            margin-right: 5px;
        }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand">GPMNowPlaying</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <img class="center-block" src="<%= session["img_url"] %>">
            <form name="xform" action="<%= url('/post') %>" method="post">
                <textarea class="form-control" rows="3" name="text"><%= session['text']%></textarea>
                <input type="hidden" name="img_url" value="<%= session["img_url"] %>">
                <button type="submit" class="btn btn-info" onClick="submit()">Tweet</button>
                <span class="count"></span>
                <span style="float:left;">Signed in as <a href="https://twitter.com/<%= @screen_name %>" target="_blank"><%= @screen_name %></a></span>
            </form>
        </div>
    </body>
</html>
